img{
    width: 100%
}

body{

    font-family: Arial;
    line-height: 25px;
    background-color: #e5e5b5;
    margin: 0px;

}

.column {
    width: 600px;
    margin: 0px auto;
    background-color: white;
    padding: 1px 40px 40px 40px;
    border-left: solid 25px #ff8a8a;
    border-right: solid 25px #ff8a8a;
}

h1 {
    font-size: 60px;
    font-family: Georgia;
    background: rgb(199, 165, 233);
    line-height: 80px;
    padding: 20px;
}

p {
    background-color: #39de98;
    padding: 5px;
}